<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.ukelele</string>
	<key>CFBundleName</key>
	<string>Canadien - Alt</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Canadien - Alt</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.ukelele.canadien-alt</string>
		<key>TISIntendedLanguage</key>
		<string>fr-CA</string>
	</dict>
</dict>
</plist>
